<main class="form-signin">
    <form>
     
      <h1 class="h3 mb-3 fw-normal">Fill Up Customer Details</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control"  >
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating">
        <input type="number" class="form-control"  >
        <label for="floatingInput">Age</label>
      </div>
      <div class="form-floating">
        <input type="string" class="form-control" >
        <label for="floatingInput">Company</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control"  >
        <label for="floatingPassword">Email</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" >
        <label for="floatingPassword">Picture</label>
      </div>
      <div class="form-floating">
        <input type="number" class="form-control">
        <label for="floatingPassword">Balance</label>
      </div>
  
      <br>
    
     
      <button class="w-100 btn btn-lg btn-primary" type="submit">Add Customer</button>
    
    </form>
  </main>